/* stylelint-disable primer/no-unused-vars */

// Palette
// Do not use these colors directly.
// Must follow primer format
// see: https://github.com/primer/stylelint-config-primer/tree/master/plugins#primercolors
// and: https://github.com/primer/stylelint-config-primer/blob/master/plugins/colors.js
$font-color-red: #96514d;
$font-color-brown: #bf794e;
$text-green: #00a497;

$default-color: #f7f8fa;
$bg-white: #ededed;
$bg-gray: #eaf2f8;
$primary-color: #2993ff;
$white-color: #fff;
$black-color: #000;
$black-transparent: #160203;
$black-transparent-2: rgba(0, 0, 0, 0.9);
$black-transparent-5: rgba(0, 0, 0, 0.5);
$black-transparent-light: rgba(#000, 0.16);
$primary-color-light: #e1e9f8;
$blue: #2c94d5;
$blue-2: #0f86ff;
$blue-3: #29a4ef;
$blue-4: #29a4ff;
$blue-5: #2993ff;
$blue-6: #006fc2;
$skyblue: #429fd9;
$skyblue-2: #c1f5ff;
$skyblue-3: #e1e9f8;
$light-skyblue: #27c3eb;
$link-hover: #53beff;
$blue-7: #3b9cff;
$dark-blue-color: #434a5e;
$light-green-color: #daface;
$green: #0ead00;
$green-2: #ffd753;
$light-green: #daface;
$red: #fd4949;
$light-red: #ffdada;
$danger-color: #ee6b5e;
$orange: #ff7926;
$lighter-orange: #f48d16;
$light-orange: #ffb44d;
$light-orange2: #ffd753;
$input-border-color: #afafaf;
$gray: #afafaf;
$gray-2: #ccc;
$gray-3: #d9d9d9;
$gray-4: #dadada;
$gray-5: #ddd;
$gray-6: #717171;
$gray-7: #434a5e;
$gray-8: #95989a;
$gray-9: #d8d8d8;
$gray-10: #adadad;
$gray-11: #f0f1f2;
$gray-12: #e1e5eb;
$gray-color: #888;
$dark-gray: #707070;
$light-gray-color: #dbdbdb;
$gray-transparent: #71717160;
$dimmed-blue-color: #95979b;
$dimmed-gray-color: #95989a;
$placeholder-color: #afafaf;
$login-input-border: #888;
$error-bg-color: #ffdada;
$error-color: #fd4949;
$required-color: #ee6b5e;
$sunny-color: #f49b34;
$cloudy-color: #a8a8a8;
$rainy-color: #058df0;

$not-answered-num-bg-color: #8ad513;
$answer-rate-border-color: #25d0d0;
$answer-rate-bg-color: #fff;
$answer-num-bg-color: #0ecc92;
$delivery-num-bg-color: #009fa5;

// Fonts
//
// Do not use directly.
// Must follow primer format
// prefix: $font-size-*
// see: https://github.com/primer/stylelint-config-primer/blob/master/plugins/typography.js
$font-size-tiny: 8px;
$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 20px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;

// FontWeights
//
// Do not use directly
// Must follow primer format
// prefix: $xfont-weight-*
// see: https://github.com/primer/stylelint-config-primer/blob/master/plugins/typography.js
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-600: 600;
$gray-color: #888;
$light-gray-color: #dbdbdb;
$dimmed-blue-color: #95979b;

// FontFamily
//
// Do not use these colos directly
$gothic: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'MS Pゴシック', sans-serif;

// Lineheights
//
// Do not use directly.
// Must follow primer format
// prefix: $lh-*
// see: https://primer.style/css/support/typography#typography-variables
$lh-10: 10px;
$lh-11: 11px;
$lh-12: 12px;
$lh-14: 14px;

// Border
//
// Do not use directly.
// Must follow primer format
// see: https://primer.style/css/support/typography#typography-variables
$border-wdith-default: 1px;
$border-style: solid;
$border-radius: 10px;
$border-radius-12: 12px;
$border-radius-circle: 50%;

// Margins
//
// Do not use directly.
$content-margin-left: 20px;
$content-margin-right: 20px;

// Parts
// Header
$header-height: 50px;
// Footer
$footer-height: 41px;

// Category: body
$font-size-body: $font-size-normal;
$text-body: $black-color;
$bg-body: linear-gradient(30deg, $bg-gray 50%, $bg-white);

// Category: button
$button-default-color: #434a5e;
$button-background-primary-from: #0f86ff;
$button-background-primary-to: #29a4ef;
$button-background-secondary-from: #f48d16;
$button-background-secondary-to: #ffb44d;

// Specific: AppButton
$font-size-app-button: $font-size-small;
$font-weight-app-button: $font-weight-bold;
$lh-app-button: $lh-14;
$text-app-button-default: $primary-color;
$text-app-button-default-hover: $white-color;
$text-app-button-primary: $white-color;
$text-app-button-secondary: $white-color;
$text-app-button-secondary-hover: $white-color;
$text-app-button-danger: $danger-color;
$text-app-button-danger-hover: $white-color;
$text-app-button-white: $button-default-color;
$text-app-button-disable: $white-color;
$bg-app-button-default: $white-color;
$bg-app-button-default-hover: $primary-color;
$bg-app-button-primary: linear-gradient(90deg, $blue-2, $blue-3);
$bg-app-button-primary-hover: linear-gradient(90deg, $blue-7, $link-hover);
$bg-app-button-secondary: linear-gradient(
  90deg,
  $lighter-orange,
  $light-orange
);
$bg-app-button-secondary-hover: linear-gradient(90deg, $light-orange, $light-orange2);
$bg-app-button-danger: $white-color;
$bg-app-button-danger-hover: $danger-color;
$bg-app-button-white: #fff;
$bg-app-button-disable: $gray-9;
$border-app-button-default: $primary-color;
$border-app-button-danger: $danger-color;
$box-shadow-app-button-primary: 0 3px 15px $gray-transparent;
$box-shadow-app-button-secondary: 0 3px 15px $gray-transparent;

$bg-side-menu: $gray-color;
$box-shadow-side-menu: 0 3px 5px $black-color;

// header
$bg-header-white: $light-green;
